<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="style.css">
    <title>FaceDark</title>
</head>

<body>

    <main>
        <h1 id="faced">FaceDark</h1>
        <div id="sign">
            <form  id="cadastro" id="myform" action="#" method="post">
                <div class="forms">
                    <div class="createText">
                        <h2>Create a new account </h2>
                        <p style="margin-top: 0.4rem;">It’s quick and easy.
                        </p>
                    </div>
                    <div class="inputsText">
                        <input placeholder="First Name" id="nome" class="dataStyle" type="text">
                        <input placeholder="Last Name" id="sobrenome" class="dataStyle" type="text">

                        <input placeholder="Mobile number or email" class="dataStyle" id="email" type="text">
                        <input placeholder="Password" id="password" class="dataStyle" type="password">
                    </div>
                    <div class="birthday other-inputs">
                        <select class="dataStyle" name="month" v-model="selectedMounth" id="mes">
                            <option v-for="month in months" :value="month" :key="month">{{month}}</option>
                            {{getCurrentMonth()}}
                        </select>
                        <select v-model="selectedDay" class="dataStyle" name="month" id="dia">
                            <option v-for="day in selectedNumberDay" :value="day" :key="day">{{day}}</option>
                        </select>
                        <select class="dataStyle" v-model="selectCurrenteYear" name="month" id="ano">
                            <option v-for="get in getYears" selected :value="get" :key="get">{{get}}</option>

                        </select>
                    </div>
                    <div class="gender  other-inputs">
                        <label for="female" class="check-style dataStyle">
                            <p>Female</p>
                            <input id="female" type="radio" value="Female" name="sex" id="check">
                        </label>
                        <!-- <label class="dataStyle" >Female</label> -->
                        <label for="male" class="check-style dataStyle">
                            <p>Male</p>
                            <input id="male" type="radio" value="Male" name="sex" id="check">

                        </label>
                        <label for="custom" class="check-style dataStyle">
                            <p>Custom</p>

                            <input id="custom" type="radio" value="Custom" name="sex" id="check">

                        </label>
                    </div>
                    <div class="gender"></div>
                    <footer>
                        <p>People who use our service may have uploaded your contact information to <br> Facebook.
                            <span>Learn
                                more</span>.
                        </p>
                        <p>By clicking Sign Up, you agree to our <span>Terms</span>, <span>Privacy Policy</span> and
                            <span> Cookies Policy</span>.<br>You may
                            receive SMS Notifications from us and can opt out any time.
                        </p>
                    </footer>
                    <div class="btn">
                        <button type="submit">Sign Up</button>
                    </div>
                    <div class="messageQuest">
                        <a href="#">Already have an account? Log in</a>
                    </div>

                </div>
            </form>

        </div>
    </main>
    <article>
        <div class="language" >
          
            <p>English (US)</p>
            <p>Português (Brasil)
            </p>
            <p>Español
            </p>
            <p>Français (France)
            </p>
            <p>Italiano</p>
            <p>Deutsch</p>
            <p>العربية
            </p>
            <p>हिन्दी</p>
            <p>中文(简体)
            </p>
            <p>日本語
            </p>
            <span>+</span>
        </div>
        <div class="more">
         
            <a href="">Sign Up</a>
            <a href="">Log In</a>
            <a href="">Messenger</a>
            <a href="">FaceDark Lite</a>
            <a href="">Video</a>
            <a href="">Places</a>
            <a href="">Games</a>
            <a href="">Marketplace</a>
            <a href="">PayKainom</a>
            <a href="">Kainom Store</a>
            <a href="">Kainom Quest</a>
            <a href="">Kainom AI</a>
            <a href="">InstaDark</a>
            <a href="">Threads</a>
            <a href="">Fundraisers</a>
            <a href="">Services</a>
            <a href="">Voting Information Center</a>
            <a href="">Privacy Policy</a>
            <a href="">Privacy Center</a>
            <a href="">Groups</a>
            <a href="">About</a>
            <a href="">Create ad</a>
            <a href="">Create Page</a>
            <a href="">Developers</a>
            <a href="">Careers</a>
            <a href="">Cookies</a>
            <br>
            <a href="">Ad choices</a>
            <a href="">Terms</a>
            <a href="">Help</a>
            <a href="">Contact Uploading & Non-Users</a>
            <br>
            <br>
            <br>
            <a href="">Kainom &#xA9; 2024</a>
        </div>

    </article>
    <script src="./App.js"></script>
</body>

</html>